

#SapXepGiam{
	display: block;
}

#content{
	width: 100%;
	background: #74ebd5; 
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5); 
  background: linear-gradient(to right, #ACB6E5, #74ebd5);

}


.myCardHeader, .myCardFooter{
	background-color: transparent;       
}